<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <% if admin_signed_in? %>
        <th>Usurio</th>
      <% end %>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
            <% if admin_signed_in? %>
          <% if post.user_id %>
            <a href="#" data-reveal-id="post-<%= post.id %>"> Usuario </a>
            <div id="post-<%= post.id %>" class="reveal-modal" data-reveal>
              <%= User.find(post.user_id).email %>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          <% end %>
            <% end %>
        </td>
        <td>
          <% if post.body %>
            <a href="#" data-reveal-id="post-<%= post.id %>"> Show Body</a>
            <div id="post-<%= post.id %>" class="reveal-modal" data-reveal>
              <%= post.body %>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          <% end %>
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>